SQL-EX.RU

DATABASE DESCRIPTION "Computer firm":

The database scheme consists of four tables:

* Product(maker, model, type)
* PC(code, model, speed, ram, hd, cd, price)
* Laptop(code, model, speed, ram, hd, screen, price)
* Printer(code, model, color, type, price)

The database scheme consists of four tables:
Product(maker, model, type)
PC(code, model, speed, ram, hd, cd, price)
Laptop(code, model, speed, ram, hd, screen, price)
Printer(code, model, color, type, price)
The Product table contains data on the maker, model number, and type of product ('PC', 'Laptop', or 'Printer'). It is assumed that model numbers in the Product table are unique for all makers and product types. Each personal computer in the PC table is unambiguously identified by a unique code, and is additionally characterized by its model (foreign key referring to the Product table), processor speed (in MHz) – speed field, RAM capacity (in Mb) - ram, hard disk drive capacity (in Gb) – hd, CD-ROM speed (e.g, '4x') - cd, and its price. The Laptop table is similar to the PC table, except that instead of the CD-ROM speed, it contains the screen size (in inches) – screen. For each printer model in the Printer table, its output type (‘y’ for color and ‘n’ for monochrome) – color field, printing technology ('Laser', 'Jet', or 'Matrix') – type, and price are specified.

![Database Schema](https://www.sql-ex.ru/images/computers.gif)

In [ ]:
-- Task 1
-- Find the model number, speed and hard drive capacity for all the PCs with prices below $500.
-- Result set: model, speed, hd.

SELECT 
  model, 
  speed, 
  hd 
FROM 
  pc 
WHERE 
  price < 500;

In [ ]:
-- Task 2
-- List all printer makers.
-- Result set: maker.

SELECT 
  DISTINCT maker 
FROM 
  product 
WHERE 
  type = 'printer';

In [ ]:
-- Task 3
-- Find the model number, RAM and screen size of the laptops with prices over $1000.

SELECT 
  model, 
  ram, 
  screen 
FROM 
  laptop 
WHERE 
  price > 1000;

In [ ]:
-- Task 4
-- Find all records from the Printer table containing data about color printers.

SELECT 
  * 
FROM 
  printer 
WHERE 
  color = 'y';

In [ ]:
-- Task 5
-- Find the model number, speed and hard drive capacity of PCs cheaper than $600 having a 12x or a 24x CD drive.

SELECT 
  model, 
  speed, 
  hd 
FROM 
  pc 
WHERE 
  (
    cd = '12x' 
    OR cd = '24x'
  ) 
  AND price < 600;

In [ ]:
-- Task 6
-- For each maker producing laptops with a hard drive capacity of 10 Gb or higher, find the speed of such laptops.
-- Result set: maker, speed.

SELECT 
  DISTINCT maker, 
  speed 
FROM 
  laptop 
  INNER JOIN product ON laptop.model = product.model 
WHERE 
  type = 'Laptop' 
  AND hd >= 10;

In [ ]:
-- Task 7
-- Get the models and prices for all commercially available products (of any type) produced by maker B.

SELECT 
  DISTINCT pc.model, 
  pc.price 
FROM 
  product 
  INNER JOIN pc ON product.model = pc.model 
WHERE 
  maker = 'B'

UNION 

SELECT 
  DISTINCT laptop.model, 
  laptop.price 
FROM 
  product 
  INNER JOIN laptop ON product.model = laptop.model 
WHERE 
  maker = 'B' 

UNION 

SELECT 
  DISTINCT printer.model, 
  printer.price 
FROM 
  product 
  INNER JOIN printer ON product.model = printer.model 
WHERE 
  maker = 'B'

In [ ]:
-- Task 8
-- Find the makers producing PCs but not laptops.

SELECT 
  DISTINCT maker 
FROM 
  product 
WHERE 
  type = 'PC' 
  AND maker NOT IN (
    SELECT 
      maker 
    FROM 
      product 
    WHERE 
      type = 'Laptop'
  );

In [ ]:
-- Task 9
-- Find the makers of PCs with a processor speed of 450 MHz or more. 
-- Result set: maker.

SELECT 
  DISTINCT maker 
FROM 
  product AS pr 
  INNER JOIN pc ON pr.model = pc.model 
WHERE 
  speed >= 450;

In [ ]:
-- Task 10
-- Find the printer models having the highest price. 
-- Result set: model, price.

SELECT 
  model, 
  price 
FROM 
  printer 
WHERE 
  price = (
    SELECT 
      MAX(price) 
    FROM 
      printer
  );

In [ ]:
-- Task 11
-- Find out the average speed of PCs.

SELECT 
  AVG(speed) 
FROM 
  pc;

In [ ]:
-- Task 12
-- Find out the average speed of the laptops priced over $1000.

SELECT 
  AVG(speed) 
FROM 
  laptop 
WHERE 
  price > 1000;

In [ ]:
-- Task 13
-- Find out the average speed of the PCs produced by maker A.

SELECT 
  AVG(speed) 
FROM 
  product AS pr 
  INNER JOIN pc ON pr.model = pc.model 
WHERE 
  maker = 'A';

DATABASE DESCRIPTION "Ships":

The database of naval ships that took part in World War II is under consideration. The database consists of the following relations:

Classes(class, type, country, numGuns, bore, displacement)
Ships(name, class, launched)
Battles(name, date)
Outcomes(ship, battle, result)
Ships in classes all have the same general design. A class is normally assigned either the name of the first ship built according to the corresponding design, or a name that is different from any ship name in the database. The ship whose name is assigned to a class is called a lead ship.
The Classes relation includes the name of the class, type (can be either bb for a battle ship, or bc for a battle cruiser), country the ship was built in, the number of main guns, gun caliber (bore diameter in inches), and displacement (weight in tons). The Ships relation holds information about the ship name, the name of its corresponding class, and the year the ship was launched. The Battles relation contains names and dates of battles the ships participated in, and the Outcomes relation - the battle result for a given ship (may be sunk, damaged, or OK, the last value meaning the ship survived the battle unharmed).

Notes: 1) The Outcomes relation may contain ships not present in the Ships relation. 2) A ship sunk can’t participate in later battles. 3) For historical reasons, lead ships are referred to as head ships in many exercises.4) A ship found in the Outcomes table but not in the Ships table is still considered in the database. This is true even if it is sunk.

![Database Schema](https://www.sql-ex.ru/images/ships.gif)

In [ ]:
-- Task 14
-- For the ships in the Ships table that have at least 10 guns, get the class, name, and country.

SELECT 
  cl.class, 
  sh.name, 
  cl.country 
FROM 
  classes AS cl 
  INNER JOIN ships AS sh ON cl.class = sh.class 
WHERE 
  numguns >= 10;

In [ ]:
-- Task 15
-- Get hard drive capacities that are identical for two or more PCs.
-- Result set: hd.

SELECT 
  hd 
FROM 
  pc 
GROUP BY 
  hd 
HAVING 
  COUNT(model) >= 2;

In [ ]:
-- Task 16
-- Get pairs of PC models with identical speeds and the same RAM capacity. 
-- Each resulting pair should be displayed only once, i.e. (i, j) but not (j, i). 
-- Result set: model with the bigger number, model with the smaller number, speed, and RAM.

SELECT 
  DISTINCT pc1.model, 
  pc2.model, 
  pc1.speed, 
  pc1.ram 
FROM 
  pc AS pc1, 
  pc AS pc2 
WHERE 
  (
    pc1.speed = pc2.speed 
    AND pc1.ram = pc2.ram
  ) 
  AND pc1.model > pc2.model;

In [ ]:
-- Task 17
-- Get the laptop models that have a speed smaller than the speed of any PC. 
-- Result set: type, model, speed.

SELECT 
  DISTINCT p.type, 
  p.model, 
  l.speed 
FROM 
  product AS p 
  INNER JOIN laptop AS l ON p.model = l.model 
WHERE 
  l.speed < (
    SELECT 
      MIN(speed) 
    FROM 
      pc
  ) 
  AND p.type = 'laptop';

In [ ]:
-- Task 18
-- Find the makers of the cheapest color printers.
-- Result set: maker, price.

SELECT 
  DISTINCT product.maker, 
  printer.price 
FROM 
  product 
  JOIN printer ON product.model = printer.model 
WHERE 
  printer.price = (
    SELECT 
      MIN(printer.price) 
    FROM 
      printer 
    WHERE 
      printer.color = 'y'
  ) 
  AND printer.color = 'y';

In [ ]:
-- Task 19
-- For each maker having models in the Laptop table, find out the average screen size of the laptops he produces. 
-- Result set: maker, average screen size.

SELECT 
  p.maker, 
  AVG(l.screen) 
FROM 
  product AS p 
  INNER JOIN laptop AS l ON p.model = l.model 
GROUP BY 
  maker;

In [ ]:
-- Task 20
-- Find the makers producing at least three distinct models of PCs.
-- Result set: maker, number of PC models.

SELECT 
  maker, 
  COUNT(model) 
FROM 
  product 
WHERE 
  type = 'pc' 
GROUP BY 
  maker 
HAVING 
  COUNT(DISTINCT model) >= 3;

In [ ]:
-- Task 21
-- Find out the maximum PC price for each maker having models in the PC table. 
-- Result set: maker, maximum price.

SELECT 
  maker, 
  MAX(price) 
FROM 
  pc 
  INNER JOIN product ON pc.model = product.model 
GROUP BY 
  maker;

In [ ]:
-- Task 22
-- For each value of PC speed that exceeds 600 MHz, find out the average price of PCs with identical speeds.
-- Result set: speed, average price.

SELECT 
  speed, 
  AVG(price) 
FROM 
  pc 
GROUP BY 
  speed 
HAVING 
  speed > 600;

In [ ]:
-- Task 23
-- Get the makers producing both PCs having a speed of 750 MHz or higher and laptops with a speed of 750 MHz or higher.
-- Result set: maker

SELECT 
  DISTINCT maker 
FROM 
  pc 
  INNER JOIN product ON pc.model = product.model 
WHERE 
  pc.speed >= 750 
  AND maker IN (
    SELECT 
      maker 
    FROM 
      laptop 
      INNER JOIN product ON laptop.model = product.model 
    WHERE 
      laptop.speed >= 750
  );

In [ ]:
-- Task 24
-- List the models of any type having the highest price of all products present in the database.

SELECT 
  t1.model 
FROM 
  (
    SELECT 
      model, 
      price 
    FROM 
      pc 
    UNION 
    SELECT 
      model, 
      price 
    FROM 
      Laptop 
    UNION 
    SELECT 
      model, 
      price 
    FROM 
      Printer
  ) AS t1 
WHERE 
  t1.price = (
    SELECT 
      MAX(price) 
    FROM 
      (
        SELECT 
          price 
        FROM 
          pc 
        UNION 
        SELECT 
          price 
        FROM 
          Laptop 
        UNION 
        SELECT 
          price 
        FROM 
          Printer
      ) t2
  );

In [ ]:
-- Task 25
-- Find the printer makers also producing PCs with the lowest RAM capacity 
-- and the highest processor speed of all PCs having the lowest RAM capacity.
-- Result set: maker.

SELECT 
  DISTINCT maker 
FROM 
  product 
WHERE 
  model IN (
    SELECT 
      model 
    FROM 
      pc 
    WHERE 
      ram = (
        SELECT 
          MIN(ram) 
        FROM 
          pc
      ) 
      AND speed = (
        SELECT 
          MAX(speed) 
        FROM 
          pc 
        WHERE 
          ram = (
            SELECT 
              MIN(ram) 
            FROM 
              pc
          )
      )
  ) 
  AND maker IN (
    SELECT 
      maker 
    FROM 
      product 
    WHERE 
      type = 'printer'
  );

In [ ]:
-- Task 26
-- Find out the average price of PCs and laptops produced by maker A.
-- Result set: one overall average price for all items.

SELECT 
  SUM(sum)/ SUM(cnt) 
FROM 
  (
    SELECT 
      SUM(pc.price) AS sum, 
      COUNT(pc.price) AS cnt 
    FROM 
      pc 
    WHERE 
      pc.model IN (
        SELECT 
          product.model 
        FROM 
          product 
        WHERE 
          product.maker = 'a'
      ) 
      
    UNION 
    
    SELECT 
      SUM(laptop.price) AS sum, 
      COUNT(laptop.price) AS cnt 
    FROM 
      laptop 
    WHERE 
      laptop.model IN (
        SELECT 
          product.model 
        FROM 
          product 
        WHERE 
          product.maker = 'a'
      )
  ) AS t1;

In [ ]:
-- Task 27
-- Find out the average hard disk drive capacity of PCs produced by makers who also manufacture printers.
-- Result set: maker, average HDD capacity.

SELECT 
  product.maker, 
  AVG(pc.hd) 
FROM 
  product 
  INNER JOIN pc ON product.model = pc.model 
GROUP BY 
  maker 
HAVING 
  product.maker IN (
    SELECT 
      DISTINCT maker 
    FROM 
      product 
    WHERE 
      product.type = 'printer'
  );

In [ ]:
-- Task 28
-- Using Product table, find out the number of makers who produce only one model.

SELECT 
  COUNT(maker) 
FROM 
  product 
WHERE 
  maker IN (
    SELECT 
      maker 
    FROM 
      product 
    GROUP BY 
      maker 
    HAVING 
      COUNT(model) = 1
  );

DATABASE DESCRIPTION "Recycling firm":

The firm owns several buy-back centers for collection of recyclable materials. Each of them receives funds to be paid to the recyclables suppliers. 

Data on funds received is recorded in the table:
Income_o(point, date, inc)
The primary key is (point, date), where point holds the identifier of the buy-back center, and date corresponds to the calendar date the funds were received. The date column doesn’t include the time part, thus, money (inc) arrives no more than once a day for each center. 

Information on payments to the recyclables suppliers is held in the table
Outcome_o(point, date, out)
In this table, the primary key (point, date) ensures each buy-back center reports about payments (out) no more than once a day, too. 

For the case income and expenditure may occur more than once a day, another database schema with tables having a primary key consisting of the single column code is used:
Income(code, point, date, inc)
Outcome(code, point, date, out)
Here, the date column doesn’t include the time part, either.

![Database Schema](https://www.sql-ex.ru/images/income.gif)

In [ ]:
-- Task 29
-- Under the assumption that receipts of money (inc) and payouts (out) are registered not more than 
-- once a day for each collection point [i.e. the primary key consists of (point, date)], 
-- write a query displaying cash flow data (point, date, income, expense). 
-- Use Income_o and Outcome_o tables.

In [ ]:
-- Task 30